img {
    width: 30%;
    filter: blur(10px);
    transition: 1s filter;
    filter: brightness(.9) contrast(1.2) grayscale(3) hue-rotate(1deg) saturate(.8) sepia(1);
    /*parlaklğı düşürür*/
    /* filter: drop-shadow(0 0 10px rgb(161, 54, 54));*/
    /*kenarlıklara bak*/
}

img:hover {
    filter: blur(0);
}

html,
body {
    background-color: #fff;
}

h2 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

article h3 a {
    color: #333;
    text-decoration: none;
}

article p {
    color: #666;
}

.dark-mode {
    filter: invert(1);
    /*tersine çevirir*/
}

.dark-mode img {
    filter: invert(1);
}