/*@font-face {
    font-family: "Choco Shake";
    src: local("choco Shake"),
        local("Choco"),
        url(Choco\ Shake.ttf), format(truetype),
        url(C:\CSS\Font-face\Choco\ Shake.woff2), format(woff2);
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

div {
    font-family: "choco";
    font-weight: 50px;
}*/


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

div {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;

}